################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.stn~
*.dgy~

/.vs
/packages
/ParkingManagementSystem/bin
/ParkingManagementSystem/obj