<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DbEntities" connectionString="metadata=res://*/Domain.ParkingModel.csdl|res://*/Domain.ParkingModel.ssdl|res://*/Domain.ParkingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P40SRSD;initial catalog=ParkingDB;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>